<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="container-left">
            <div class="actions">
            	<h1>User Panel</h1>
                <div class="action">
                    <label for="action1">Top 10 elevi (cea mai mare medie)</label>
                    <button id="action1">Top 10</button>
                </div>
                <div class="action">
                    <label for="action2">Toti dirigintii</label>
                    <button id="action2">Diriginti</button>
                </div>
                <div class="action">
                    <label for="action3">Top 5 materii (numar absente)</label>
                    <button id="action3">Top 5</button>
                </div>
                <div class="action">
                    <label for="action4">Burse sociale+merit semestrul 2</label>
                    <button id="action4">Burse</button>
                </div>
            </div>
		</div>
		<div class="container-right">
			<div class="actions actions-admin">
            	<h1>Admin Panel</h1>
                <div class="action">
                    <label for="action5">Adaugare elev in baza de date</label>
                    <button id="action5">Adaugare</button>
                </div>
                <div class="action">
                    <label for="action6">Mutare elev la o alta clasa</label>
                    <button id="action6">Mutare</button>
                </div>
                <div class="action">
                    <label for="action7">Motivare absenta</label>
                    <button id="action7">Motivare</button>
                </div>
            </div>
            <div class="admin-message">Acesta este Admin Panel. Nu esti admin!</div>
		</div>
	</div>

<script src="/readActions.js"></script>
<script src="/action5.js"></script>
<script src="/action6.js"></script>
<script src="/action7.js"></script>
</body>
</html>